# public/.htaccess
Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Allow access to uploads directory
    RewriteRule ^uploads/ - [L]
    
    # Deny access to hidden files
    RewriteRule (^|/)\. - [F]
</IfModule>

# Mengizinkan akses ke file gambar
<FilesMatch "\.(jpg|jpeg|png)$">
    Allow from all
</FilesMatch>